# Логи
logs
*.log
npm-debug.log*

# Директория для временных файлов
tmp

# Зависимости
node_modules/

# Файлы среды IDE
.idea/
.vscode/
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db

# Конфигурационные файлы
.env
.config.js

# Каталоги сборки
/dist
/build

# Архивы, созданные в процессе архивации
*.zip
*.tar
*.tar.gz

# Файлы, которые могут быть созданы при тестировании
/coverage
/.nyc_output
